{% extends "layout.html" %}

{% block body %}


<h2>{{ actor.name }}</h2>
<h2>{{ actor.url }}</h2>
<h3>{{ stats.total_hits }} Total hits</h3>
<h3>{{ stats.ok_hits }} Successful hits</h3>
<h3>{{ stats.site_changes }} time changed</h3>
<h3>{{ stats.avg_response_time }} total avg. time</h3>


{% include "_pagination.html" %}

<div class="row">
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date Time</th>
          <th>Status Code</th>
          <th>Response Time</th>
          <th>Content length</th>
        </tr>
      </thead>
      <tbody>

        {% for row in actor_requests %}
        <tr>
          <td>{{row.insert_date | format_date}}</td>
          <td>{{row.status_code}}</td>
          {% if row.response_time > 200 %}
            <td class="text-danger">
            {% else %}
            <td class="text-success">
           {% endif %}
            {{ row.response_time }} ms
          </td>
          <td>{{row.content_len}}</td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
    </div>
</div>

{% include "_pagination.html" %}

{% endblock %}