{% extends "layout.html" %}

{% block body %}


<div class="row">
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Status Code</th>
          <th>Response Time</th>
          <th>Content length</th>
        </tr>
      </thead>
      <tbody>

        {% for row in actor_requests %}
        <tr>
          <td>{{row.insert_date}}</td>
          <td>{{row.status_code}}</td>
          <td>{{row.response_time}}</td>
          <td>{{row.content_len}}</td>
        </tr>
        {% endfor %}

        </tbody>
        </table>
    </div>
</div>


{% endblock %}